.header {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

@media (min-width: 768px) {
	.header {
		justify-content: space-between;
	}
}

.header__actions {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 70%;
}

@media (min-width: 768px) {
	.header__actions {
		justify-content: space-evenly;
		width: 40%;
		flex-direction: row-reverse;
	}
}

.header__add {
	width: 36px;
	height: 36px;
}

@media (min-width: 768px) {
	.header__add {
		display: none;
	}
}

.header__separator {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__cross {
	display: none;
}

@media (min-width: 768px) {
	.header__cross {
		display: inline-block;
		margin-right: 0.8rem;
	}
}

.header__more {
	display: none;
}

@media (min-width: 768px) {
	.header__more {
		font-size: 18px;
		text-transform: uppercase;
		margin-left: 1rem;
		color: #fff;
		display: inline-block;
		cursor: pointer;
	}
}

.header__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 30%;
}

@media (min-width: 768px) {
	.header__menu {
		width: 300px;
	}
}

.header__icono {
	display: none;
}

@media (min-width: 768px) {
	.header__icono {
		display: block;
		margin-right: 50px;
	}
}

.header__notifications {
	display: none;
}

@media (min-width: 768px) {
	.header__notifications {
		display: block;
	}
}

.header__avatar {
	display: block;
	margin: 0 auto;
}
