.container {
	width: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: top;
}

@media (min-width: 768px){
	.container{
		background-size: cover;
		height: 100vh;
		background-position: 50% 10%;
	}
}

.container__main{
	width: 100%;
	margin: 70px auto;
}

@media (min-width: 768px) {
	.container__main {
		margin: 0 30px;
		display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 2rem;
	}
}

