.title {
	width: 100%;
	min-height: 386px;
	background: linear-gradient(180deg, rgba(36, 36, 36, 0) 0%, #242424 100%);
}

@media (min-width: 768px) {
	.title {
		background: inherit;
		display: flex;
		flex-direction: column;
		justify-content: center;

	}
}


